{%extends './Base.html'%}
{%block title%}
Registro de Herramienta
{%endblock%}
{%block body%}
    <nav class="navbar navbar-light justify-content-between" style="background-color: #f2f2f2;">
        <a class="navbar-brand">Hola, {{ session['nombre'] }}</a>

            {%if session['rol'] == 1%}
                <a class="navbar-brand">Rol: Administrador</a>
            {%elif session['rol'] == 2%}
                <a class="navbar-brand">Rol: Almacenista</a>
            {%else%}
                <a class="navbar-brand">Rol: Tecnico</a>
            {%endif%}

        <form action="{{ url_for('logout') }}" method="get" class="form-inline">
            <button type="submit" class="btn btn-outline-danger">Salir</button>
        </form>
    </nav>

    <nav  class="navbar navbar-light" style="background-color: #0f6cac;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">ENERGY SITE, S.A. DE C.V.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('regisherra') }}">Historial de movimientos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('regisherra') }}">Checar asignacion de herramienta</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('regisherra') }}">Buscador de herramienta</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('regisherra') }}">Reportes</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Herramienta
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('regisherra') }}">Entrada</a></li>
                <li><a class="dropdown-item" href="{{ url_for('regisherra') }}">Salida</a></li>
                <li><a class="dropdown-item" href="{{ url_for('regisherra') }}">Registrar</a></li>
                <li><a class="dropdown-item" href="{{ url_for('EdiHerra') }}">Editar</a></li>
                <li><a class="dropdown-item" href="{{ url_for('EliHerra') }}">Eliminar</a></li>
            </ul>
            </li>
        </ul>
        </div>
    </div>
</nav>
    

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="w-100" style="max-width: 800px;">
        <!-- ALERTAS -->
        {% with mensajes = get_flashed_messages(with_categories=true) %}
            {% if mensajes %}
                {% for categoria, mensaje in mensajes %}
                    <div class="alert alert-{{ categoria }} alert-dismissible fade show" role="alert">
                        {{ mensaje }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- FORMULARIO -->
        <form action="/regisherra" method="POST" class="bg-white p-4 shadow rounded">
            <h4><label class="form-label">Escribe el Codigo interno para escoger la Herramienta a Editar</label></h4>
            <div class="input-group mb-3">
        
                <span class="input-group-text">Nombre</span>
                <input type="text" placeholder="nombre herramienta" name="nombreh" class="form-control">
                <span class="input-group-text">Tipo</span>
                <input type="text" placeholder="Tipo Herramienta" name="tipoh" class="form-control">
                <span class="input-group-text">Marca</span>
                <input type="text" placeholder="brand" name="brandh" class="form-control">
            </div>

            <label class="form-label">Seriales</label>
            <div class="input-group mb-3">
                <span class="input-group-text">Modelo</span>
                <input type="text" placeholder="Modelo" name="modeloh" class="form-control">
                <span class="input-group-text">Número de serie</span>
                <input type="text" placeholder="Numero de serie" name="serieh" class="form-control">
                <span class="input-group-text">Código Interno</span>
                <input type="text" placeholder="Codigo Interno" name="codigoinh" class="form-control" required>
            </div>

            <label class="form-label">Status</label>
            <div class="input-group mb-3">
                <span class="input-group-text">Estatus</span>
                <select name="statush" class="form-select">
                    <option value="operativa">Operativa</option>
                    <option value="en_reparacion">En Reparación</option>
                    <option value="extraviada">Extraviada</option>
                    <option value="obsoleta">Obsoleta</option>
                </select>
            </div>

            <label class="form-label">Asignación</label>
            <div class="input-group mb-3">
                <span class="input-group-text">Ubicación</span>
                <input type="text" placeholder="Localidad" name="localidadh" class="form-control">
                <span class="input-group-text">Responsable</span>
                <input type="text" placeholder="Nombre" name="responsableh" class="form-control">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="number" placeholder="Precio" name="precioh" class="form-control" min="0" step="0.01" >
                <span class="input-group-text">Observaciones</span>
                <textarea class="form-control" name="observacionesh"></textarea>
            </div>

            <button type="submit" class="btn btn-primary w-100 d-flex align-items-center justify-content-center" id="EdiBtn">
                <span id="btnText">Editar Herramienta</span>
                <div id="inlineSpinner" class="spinner-border text-light spinner-border-sm ms-2 d-none" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                const form = document.querySelector("form");
                const spinner = document.getElementById("inlineSpinner");
                const btn = document.getElementById("EdiBtn");
                const btnText = document.getElementById("btnText");

                form.addEventListener("submit", function () {
                    spinner.classList.remove("d-none");
                    btn.disabled = true;
                    btnText.textContent = "Cargando...";
                });
            });
            </script>
        </form>
    </div>
        </form>
    </div>
</div>

{%endblock%}