{% extends './Base.html' %}
{% block title %}
Home
{% endblock %}

{% block body %}

<!-- Barra superior (usuario + rol + logout) -->
<nav class="navbar navbar-light justify-content-between" style="background-color: #f2f2f2;">
  <a class="navbar-brand">Hola, 🙋🏻‍♂️ {{ session['nombre'] }}</a>
  
  {% if session['rol'] == 1 %}
    <a class="navbar-brand">Rol: Administrador</a>
  {% elif session['rol'] == 2 %}
    <a class="navbar-brand">Rol: Almacenista</a>
  {% else %}
    <a class="navbar-brand">Rol: Técnico</a>
  {% endif %}

  <form action="{{ url_for('logout') }}" method="get" class="form-inline">
    <button type="submit" class="btn btn-outline-danger">Salir</button>
  </form>
</nav>

<!-- Barra principal -->
    <nav  class="navbar navbar-light" style="background-color: #0f6cac;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">ENERGY SITE, S.A. DE C.V.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('historial') }}">Historial de movimientos</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('regisherra') }}">Checar asignación de herramienta</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('buscar_herramienta') }}">Buscador de herramienta</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Herramienta</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('entra_sale') }}">Entrada y Salida</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('regisherra') }}">Registrar</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('editar_herramienta') }}">Editar</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('eliminar_herramienta') }}">Eliminar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}
